*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the -o flag
*.out

# Project-local glide cache, REPRODUCIBLE BUILDS
.glide/
